---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular"
;

input {
  all: unset;
  color: black;
  background: white;
  height: 100%;
  width: 45%;
  padding: 6px 10px;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 7px;
}

button {
  all: unset;
  float: left;
  width: 15%;
  padding: 6px 10px;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border: 1px purple;
  border-left: none;
  cursor: pointer;
}

button:hover {
  background: #0b7dda;
}

