---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular"
;

input {
  all: unset;
  color: black;
  background: white;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
}
