---
layout: default
---
<!-- page.html -->
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

  {%- if page.related_publications != null and page.related_publications.size > 0 -%}
  {% assign publications = page.related_publications | replace: ", ", "," | split: "," | join: "|" %}
  <h2>References</h2>
  
  <div class="publications">
    <form class="example" id="publications-search-form">
      <input type="text" id="publications-search-input" placeholder="Search publications...">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    {% bibliography -f {{ site.scholar.bibliography }} -q @*[key^={{ publications }}]* %}
  </div>
  {%- endif %}

  {%- if site.giscus and page.giscus_comments -%}
    {% include giscus.html %}
  {%- endif -%}
</div>



<script>
document.addEventListener('DOMContentLoaded', function () {

  const publicationList = document.querySelector('.publications > ol, .publications > ul');
  if (publicationList) {
    const items = publicationList.querySelectorAll('li');
    items.forEach(item => {
      const text = item.textContent.toLowerCase();
      const wrapper = document.createElement('div');
      wrapper.className = 'publication-entry';
      wrapper.setAttribute('data-publication', text);
      item.parentNode.insertBefore(wrapper, item);
      wrapper.appendChild(item);
    })
  }

  const searchInput = document.getElementById('publication-search-input');
  const form = document.getElementById('publication-search-form');

  form.addEventListener('submit', function (e) {
    e.preventDefault();
  });

  searchInput.addEventListener('input', function () {
    const searchTerm = searchInput.value.toLowerCase();
    const profiles = document.querySelectorAll('.publication-entry');

    profiles.forEach(function (profile) {
      const text = profile.getAttribute('data-publication');
      if (text.includes(searchTerm)) {
        profile.style.display = '';
      } else {
        profile.style.display = 'none';
      }
    });
  });
});
</script>